<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                   
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16395993?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16330443?query=java%20Odessa">Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/15362094?query=java%20Odessa">Senior Automation Tests Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Alpha Technologies Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16520612?query=java%20Odessa">Android developer (Montenegro)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16395886?query=java%20Odessa">Configuration Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16276409?query=java%20Odessa">Application Architect (Montenegro)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16595160?query=java%20Odessa">Java/Scala Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">KM Ware</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16439816?query=java%20Odessa">Java Middle/Senior Developer for CCM Project</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Comodo Group Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16612091?query=java%20Odessa">Frontend-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ОССистем</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16338032?query=java%20Odessa">Java (J2EE) Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">HYS Enterprise</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16471029?query=java%20Odessa">Salesforce developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Bineks</td> 
     <td class="salary">2&nbsp;000-5&nbsp;000 EUR</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16451357?query=java%20Odessa">Data Scientist / Machine Learning Engineer / Data analyst</a></td> 
     <td class="city">Харьков</td> 
     <td class="companyName">Envion Software (Ukraine)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ru/vacancy/16451396?query=java%20Odessa">NLP Engineer (Natural Language Processing / Computational Linguistics / Machine Learning)</a></td> 
     <td class="city">Львов</td> 
     <td class="companyName">Envion Software (Ukraine)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024133">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024967">Java Junior</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008013">Преподаватель вебинаров по Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025297">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023674">Java Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023867">Java-разработчик</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Кадровое агентство Юнити</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024555">Java-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">BrandMaker</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024500">Java Developer Middle/Senior</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Top Expats</td> 
     <td class="salary">От 140 000 до 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024705">java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">PhinikStudio</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025296">Java - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бизнес-координатор</td> 
     <td class="salary">От 130 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024947">JAVA Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Triptop Technologies LTD</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/715630031">Java разработчик</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024872">Программист Java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">РЕЛЭКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024552">Java Developer</a></td> 
     <td class="city">Турку</td> 
     <td class="companyName">s2b</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024547">Java-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024830">Java/JavaScript Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024722">Разработчик java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Эскейп</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025281">Java Developer</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021157">Backend developer (Java)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024810">Java Web разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HeadHunter</td> 
     <td class="salary">От 130 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024649">Ведущий разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TNS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024151">Java – разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ЮНИТ-Оргтехника</td> 
     <td class="salary">От 50 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025100">Java developer</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">FlexSoft</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024272">Senior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Data East</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024133">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024967">Java Junior</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008013">Преподаватель вебинаров по Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025297">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023674">Java Architect</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023867">Java-разработчик</a></td> 
     <td class="city">Рязань</td> 
     <td class="companyName">Кадровое агентство Юнити</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024555">Java-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">BrandMaker</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024500">Java Developer Middle/Senior</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Top Expats</td> 
     <td class="salary">От 140 000 до 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024705">java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">PhinikStudio</td> 
     <td class="salary">До 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025296">Java - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бизнес-координатор</td> 
     <td class="salary">От 130 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024947">JAVA Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Triptop Technologies LTD</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/715630031">Java разработчик</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024872">Программист Java</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">РЕЛЭКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024552">Java Developer</a></td> 
     <td class="city">Турку</td> 
     <td class="companyName">s2b</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024547">Java-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024830">Java/JavaScript Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Competentum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024722">Разработчик java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Эскейп</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025281">Java Developer</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021157">Backend developer (Java)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024810">Java Web разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HeadHunter</td> 
     <td class="salary">От 130 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024649">Ведущий разработчик Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TNS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024151">Java – разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО ЮНИТ-Оргтехника</td> 
     <td class="salary">От 50 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025100">Java developer</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">FlexSoft</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024272">Senior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Data East</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025064">Senior Java Developer</a></td> 
     <td class="city">Берлин</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary">От 50 000 до 60 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024918">JAVA-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Crocodie</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024861">Java разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">РЕЛЭКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024651">Программист Java</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Gehtsoft</td> 
     <td class="salary">От 50 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024946">Ведущий программист Java</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HR Development</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013568">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">United Traders</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java EE-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024148">Ведущий программист Java</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 24</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024550">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AFT Project</td> 
     <td class="salary">До 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013803">Scala или Java разработчик / Scala or Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024969">Senior Java Developer</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Music Sense Ltd.</td> 
     <td class="salary">От 50 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024376">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО Транс-ИТ</td> 
     <td class="salary">От 120 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025120">Senior Software Engineer (Java)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023906">Java разработчик на "Фактор"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HumanFactorLabs</td> 
     <td class="salary">От 180 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025065">Senior Java Developer / Старший разработчик Java</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Genestack</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024874">Lead Java Developer / Tech Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Smart Design</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024958">Senior Java разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Brooma</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024711">Senior Java developer Liferay</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025060">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Kefir Digital</td> 
     <td class="salary">От 2 500 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019904">Java разработчик со знанием front-end технологий</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013804">Ведущий Scala / Java разработчик (Senior Scala / Java Developer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023829">Java-разработчик микросервисов BostonGene Cloud Platform</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary">От 75 001 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024525">Java\Go\Clojure разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЦЭКИ</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025115">Senior Java Software Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">DELL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025255">Sr. Java developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Parley Pro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025254">Java программист для мобилок</a></td> 
     <td class="city">Великий Новгород</td> 
     <td class="companyName">Imixi</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024866">Ведущий Java разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">РЕЛЭКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021564">Senior Java developer (Multithreading, Servlets, Spring, Hibernate, Native SQL)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AURUS</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025071">Java + Android разработчик в IT-стартап</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013167">Java developer для участия в крупных E-Commerce проектах</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "АПМ Технолоджи"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022825">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Loyalty Plant</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022798">GWT Разрабочик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">AgmSoft</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024606">Senior Java developer</a></td> 
     <td class="city">Гонконг</td> 
     <td class="companyName">PersonalInvest</td> 
     <td class="salary">От 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025206">android developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ООО "Кей систем"</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024739">Android Developer</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Traffic Stars ltd</td> 
     <td class="salary">От 3 000 до 3 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024551">Go-developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000018083">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Avito</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025061">Android developer (relocation)</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024673">Senior Scala developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">PersonalInvest</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024464">Android-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">FunCorp</td> 
     <td class="salary">От 70 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024700">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Hive</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023683">Старший Разработчик Android (C++, Java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020199">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024612">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Chum</td> 
     <td class="salary">От 70 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025235">Программист Python</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ОАО "Телеофис"</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025212">Back-End developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">JungleJobs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024787">Full Stack Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SKILLARY</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024995">Разработчик приложений для платформы Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Rate&amp;Goods</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024894">Веб-разработчик (php)</a></td> 
     <td class="city">Иркутск</td> 
     <td class="companyName">IO Games</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024848">Разработчик Elasticsearch</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Lazada</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025284">Senior Server Side Developer</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025285">Regular Front-End Developer (PHP, JavaScript)</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024885">Ведущий разработчик/Тимлид в команду</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Аэроклуб, агентство делового туризма</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025076">Senior front-end developer / Веб программист (JavaScript, HTML, CSS)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Genestack</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025126">Senior Android Developer</a></td> 
     <td class="city">Амстердам</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024768">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MyFrIeNd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024989">Системный архитектор</a></td> 
     <td class="city">Шанхай</td> 
     <td class="companyName">Mergeralliance</td> 
     <td class="salary">От 2 500 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023466">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ANEWS</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019790">Преподаватель вебинаров по программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024536">Тестировщик (QA-автоматизатор)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Sendsay.ru</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025151">Senior Android Developer</a></td> 
     <td class="city">Берлин</td> 
     <td class="companyName">Relocateme.eu</td> 
     <td class="salary">От 50 000 до 60 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025248">PHP программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">iD Такси</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024740">Ведущий back-end разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Атласфера</td> 
     <td class="salary">От 60 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012179">Android developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Surf</td> 
     <td class="salary">От 40 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024770">Руководитель IT-проектов</a></td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Группа Компаний "Wallet One"</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024338">Senior Android architect</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024844">Разработчик мобильных приложений (iOS или Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">OneTwoTrip!</td> 
     <td class="salary">От 80 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024503">Ведущий инженер программист/руководитель направления</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "ФЦНИВТ "СНПО "Элерон"</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024343">Senior Android engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025222">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SweatCoin</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024326">Senior PHP-разработчик</a></td> 
     <td class="city">Химки</td> 
     <td class="companyName">Интернет-агентство "Инфоспайс"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023912">Full stack developer (Senior Front &amp; Back-end)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Market Music Inc</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025134">Senior Mobile Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Boris.Guru</td> 
     <td class="salary">От 3 000 до 4 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013276">Senior Front-end разработчик (JavaScript)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025171">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wawe</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024664">Web и Mobile-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">The Startup Mafia</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024829">Android разработчик</a></td> 
     <td class="city">Прага</td> 
     <td class="companyName">Artykl International s.r.o.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024892">Javascript разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Traffic Exchange</td> 
     <td class="salary">От 1 000 до 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024794">разработчик мобильных приложений (IOS/android)</a></td> 
     <td class="city"></td> 
     <td class="companyName">MYXA DIGITAL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025010">DevOps Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AppDaddy</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025239">Mobile Developer (iOS+Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Юнилид Нетворк</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023909">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DigitalHR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024506">Unity программист под Android</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">VRAR LAB</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021335">Разработчик Windows Phone</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EastBanc Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025208">Веб Дизайнер</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEO PRO</td> 
     <td class="salary">До 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025036">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AGILE PEOPLE SOLUTIONS</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024916">Специалист по нагрузочному тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Ай-Теко</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024979">Программист Python (Django)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HR Development</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025020">Android-разработчик (senior)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Studio Mobile</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024078">Разработчик распределённых систем</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024665">Разработчик iOS или ANDROID</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Gstudio</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024854">Тестировщик</a></td> 
     <td class="city"></td> 
     <td class="companyName">DocDoc</td> 
     <td class="salary">От 20 000 до 35 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024956">С++ программист / Ведущий С++ программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Navitel</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024828">PHP-программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HighWay Production</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024763">Software Tester / QA - Server Side</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Spotware Systems Ltd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023814">Тестировщик / QA engineer</a></td> 
     <td class="city">Ульяновск</td> 
     <td class="companyName">Ecwid Inc.</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024138">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020409">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025149">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Superjob</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/570910660">IOS разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024876">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bookmate</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024864">IOS Разработчик (Проект Retail product development app)</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Morozware</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024930">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Touch Instinct</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024637">Full Stack Web Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Phobos</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024709">Senior Android Mobile Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Cloverr Corporation</td> 
     <td class="salary">От 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024149">Руководитель ИТ-проектов / Бизнес-аналитик</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 24</td> 
     <td class="salary">От 50 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021542">PHP-программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">xPackages</td> 
     <td class="salary">От 30 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024667">Senior Front-end developer</a></td> 
     <td class="city">София</td> 
     <td class="companyName">PersonalInvest</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024981">Senior IOS -разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ClearScale</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024136">Технический менеджер проектов в области хранения и обработки данных</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022489">Senior Python разработчик / Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025027">Software Engineer .NET / C# (remote job)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Wavecell</td> 
     <td class="salary">От 1 300 до 2 200 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000008805">Senior Software PHP Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PimPay</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025028">DevOps Engineer (remote job)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Wavecell</td> 
     <td class="salary">От 1 500 до 2 200 usd.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>